:root {
    --white: rgb(255, 252, 235);
    --brown: rgb(67, 42, 39);
}

@font-face {
    font-family: 'CustomFont';
    src: url(../src/fonts/Quicksand-Light.ttf) format('truetype');
}

body {
    background: var(--brown);
    color: var(--white);
    font-size: 1.2rem;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'CustomFont', Arial, sans-serif;
    letter-spacing: 5px;
    position: absolute;
    top: 20px;
    text-align: center;
    padding: 40px 90px;
    border-radius: 50%;
    font-size: 6rem;
    background: var(--white);
    opacity: 0.3;
    color: #000;
    mix-blend-mode: screen;
}

.shed-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

main {
    padding-top: 100px;

    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    display: flex;
    justify-content: center;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.sidebar li {
    list-style-type: none;
    margin-bottom: 9rem;
    cursor: pointer;
}

.sidebar li::after {
    /* content: url(../src/pictures/fish-bone.png); */
    background-image: url(../src/pictures/fish-bone.png);
    background-size: 50px 50px;
    display: inline-block;
    width: 50px; 
    height: 50px;
    content:"";
    transform: scaleX(-1) rotate(45deg);
    position: relative;
    left: 2rem;
    top: 1rem;
    opacity: 0;
    transition: 300ms;
    transition-timing-function: ease-in;
}

.sidebar li:hover::after {
    opacity: 1;
}

.feature {
    padding-bottom: 30px;

    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr 2fr;
    row-gap: 30px;
}

.food-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.food-squares {
    width: 70%;
    height: 80vh;
    background: var(--white);
    padding: 50px 50px 10px;
}

.food-squares > img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.fs3 {
    object-position: 50% 88%;
}

.fs5 {
    object-position: 50% 88%;
}

.description {
    height: 20%;
    color: #000;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interior-img {
    width: 100%;

    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.eating-img {
    width: 100%;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.cooking-img {
    width: 100%;

    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.fish-img {
    width: 100%;

    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.info {
    padding: 0 30px;

    grid-column: 2 / 3;
    grid-row: 1 / 5;
}

.info > div {
    position: sticky;
    top: 10vh;
}

p {
    margin: 0;
    line-height: 1.8rem;
}

.fire-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    grid-column: 1 / 3;
}

form {
    background: var(--white);
    color: #000;
    font-family: 'CustomFont', Arial, sans-serif;
    font-weight: 900;
}

footer {
    color: var(--white);
    padding: 20px;
    background: var(--brown);
}

footer p {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 20px;
    text-decoration: underline;
}

footer ul {
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    justify-content: center;
}

footer li {
    list-style-type: none;
    padding: 10px;
    font-size: 1rem;

}

footer a {
    text-decoration: none;
}

footer a:link,
a:visited,
a:hover,
a:active {
    color: var(--white);
}